CSS Rest*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

/*Ids*/
.content {
	min-height: 70vh;
  background-color: #f0f2f6;
}
/*end Ids*/

/* NavBar */
.dark-theme .t-1 {
  font-size: 1.15rem;
}
/* End NavBar */

/* main */
.content div a {
  font-size: 2rem;
}

/*footer codes*/
.dark-theme {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#252525;
}

.dark-theme h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.dark-theme ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.dark-theme ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.dark-theme ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .dark-theme .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.dark-theme .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .dark-theme .item.text {
    margin-bottom:0;
  }
}

.dark-theme .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.dark-theme .item.social {
  text-align:center;
}

.dark-theme .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.dark-theme .item.social > a:hover {
  opacity:0.9;
}

.dark-theme .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

/*end footer codes